<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css"/>
    <title>Main Page</title>
</head>
<body>
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}

    {% for person in persons %}
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ person.name}}</h3>
                        <h3>{{ person.lastname }}</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Age: {{ person.age }}</h5>
                        <hr>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Salary: {{ person.salary }}</h4>
                        <h4>Desired: {{ person.desiredSal }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <hr>
    {% endfor %}

</body>
</html>